spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:mysql://localhost:3307/auth_db
    username: root
    password: password
  jpa:
    hibernate:
      ddl-auto: update
server:
  port: 8082
eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
logging:
  level:
    org:
      springframework:
        security: INFO